{% extends 'header.html' %}

<body>
    {% block content %}
    <div class="container">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s2">
                        <span class="card-title">{{movie}}</span>
                    </div>
                    <div class="col s8"></div>
                    <div class="col s2">
                        <h6 class="valign-wrapper">{{movie.rating}}/10 <i class="material-icons yellow-text">stars</i>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">{{movie.length}} |
                        {% for genre in movie.genres.all  %}
                        {% if not forloop.last %}
                        {{genre.name}},
                        {% else %}
                        {{genre.name}}
                        {% endif %}
                        {% endfor %} | {{movie.release_date}}</div>
                </div>
                <div class="card-image">
                    <div class="video-container">
                        <iframe width="200" height="200" src="{{movie.trailer}}" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>{{movie.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Director:
                            {% for director in movie.directors.all %}
                            {% if not forloop.last %}
                            {{director.name}},
                            {% else %}
                            {{director.name}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Writers:
                            {% for writer in movie.writers.all %}
                            {% if not forloop.last %}
                            {{writer.name}},
                            {% else %}
                            {{writer.name}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Stars:
                            {% for actor in movie.actors.all %}
                            {% if not forloop.last %}
                            {{actor.name}},
                            {% else %}
                            {{actor.name}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4>Discussion</h4>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn red modal-trigger" href="#newdiscussion">New Discussion</a>
        <!-- Modal Structure -->
        <div id="newdiscussion" class="modal">
            <div class="modal-content">
                <h4>New Discussion on {{movie}}</h4>
                <form method="POST" action="/new_discussion/">
                    {% csrf_token %}
                    <label>Title</label><br>
                    <input type="text" name="title">
                    <label>Text</label><br>
                    <input type="text" name="text">
                    <input type="hidden" name="author" value="{{user}}">
                    <input type="hidden" name="parent_movie" value="{{movie.id}}">
                    <button class="btn waves-effect waves-light" type="submit">Create Discussion</button>
                </form>
            </div>
        </div>
        {% for discussion in discussions %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <!-- Modal Trigger -->
                        <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger red" href="#reply"><i
                                class="material-icons">reply</i></a>
                        <span class="card-title">{{discussion.title}}</span>
                        <i>By {{discussion.author}}</i>
                        <p>{{discussion.text}}</p>
                        <!-- Modal Structure -->
                        <div id="reply" class="modal">
                            <div class="modal-content">
                                <h4>Reply to {{discussion}}</h4>
                                <form method="POST" action="/reply_request/">
                                    {% csrf_token %}
                                    <label>Text</label><br>
                                    <input type="text" name="text">
                                    <input type="hidden" name="author" value="{{user}}">
                                    <input type="hidden" name="parent_discussion" value="{{discussion.id}}">
                                    <button class="btn waves-effect waves-light" type="submit">Create
                                        Reply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    {% endblock %}
</body>